[url "git@github.com"]
	insteadOf = gh
[user]
	name = Oğuzhan Onur ARSLANTUĞ
	email = o.arslantug@gmail.com
[core]
	editor = vim
	whitespace = -trailing-space
	excludesFile = ~/.gitignore
[init]
	defaultBranch = master 
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
	submodule = log
[log]
	abbrevCommit = true
	decorate = short
[push]
	default = upstream
	followTags = true
[rebase]
	autoSquash = true
[merge]
	ff = only
[tag]
	sort = version:refname
[versionsort]
	prereleaseSuffix = -pre
	prereleaseSuffix = .pre
	prereleaseSuffix = -beta
	prereleaseSuffix = .beta
	prereleaseSuffix = -rc
	prereleaseSuffix = .rc
[status]
	showUntrackedFiles = all
[alias]
	ss = status -s
	diffs = diff --staged
	# amend = "!git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend"
	lagd = log --color=always --all --graph --decorate --oneline --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
