http://*.test {
  # Don't forget to update this site root!
  root /Users/arslantug/Workspace/Platin360
  fastcgi / localhost:8000 php
  rewrite {
    to /{label1}{uri} /home{uri} {uri}
  }
  log stdout
  errors stderr
}
